<h2 mat-dialog-title *ngIf="!loading">[ {{data.search.text}} ] 검색 결과</h2>
<div mat-dialog-content>
  
  <div *ngIf="loading" style="text-align: center;">
    <mat-spinner></mat-spinner><br>
    결과를 가져오는 중...
  </div>
  <div class="container" *ngIf="!loading">
    <ng-container *ngFor="let searched of searches; index as i">
      <table class="table">
        <tr>
          <td style="text-align: center; vertical-align: middle;" rowspan="5">
            <img [src]="searched.img">
          </td>
          <th>타입</th>
          <td>{{searched.type}}</td>
        </tr>
        <tr>
          <th>제목</th>
          <td>{{searched.title}}</td>
        </tr>
        <tr>
          <th>방영 분기</th>
          <td>
            {{searched.premiered.year}}년 {{searched.premiered.quarter}}분기
          </td>
        </tr>
        <tr>
          <th>MyAnimeList</th>
          <td>
            <a [href]="'https://myanimelist.net/anime/' + searched.mal_id" target="_blank">
              {{searched.mal_id}}
            </a>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <button (click)="selectItem(i)" mat-button>선택</button>
          </td>
        </tr>
      </table>
    </ng-container>
    <div *ngIf="searches.length == 0">
      <p>검색결과가 없거나 에러가 발생하였습니다.</p>
      <p><a [href]="getLink()" target="_blank">직접 검색해보기</a></p>
    </div>
    
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button tabindex="-1" (click)="onClose()">닫기</button>
</div>
