<section class="container">
  <div class="border border-secondary info-area">
    <h4>TVA</h4>
    <p>카테고리 수: {{tvas?.length}}</p>
    <p>TVA 수: {{count()}}</p>
    <p>
      <button mat-flat-button (click)="openAll()">전체 열기</button>&nbsp;
      <button mat-flat-button (click)="closeAll()">전체 닫기</button>&nbsp;
      <button mat-flat-button (click)="writeTva(); writingArea.scrollIntoView()">새 항목 작성</button>
    </p>
  </div>
</section>

<section class="container">
  <mat-progress-bar *ngIf="!tvas" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="tvas">
    <table class="table table-dark">
      <thead>
        <tr>
          <th (click)="align(0, 0)">카테고리</th>
          <th (click)="align(0, 1)">시리즈</th>
          <th (click)="align(0, 2)">제목</th>
          <th>시즌</th>
          <th (click)="align(0, 3)" colspan="120">제작사</th>
          <th (click)="align(0, 4)">화수</th>
          <th (click)="align(0, 5)">방영분기</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let tva of tvas; index as t">

          <ng-container *ngFor="let series of tva.series; index as i">
            <ng-container *ngFor="let sequence of series.sequences; index as j">
              <tr [attr.id]="tva._id">
                <td *ngIf="tva.series.length > 1 && i == 0 && j == 0" [attr.rowspan]="allElementsLength(t)"
                  class="table-category" style="vertical-align: middle;">{{tva.category}}</td>
                <td *ngIf="tva.series.length > 1 && j == 0" class="table-series"
                  [attr.rowspan]="tva.series[i].sequences.length" style="vertical-align: middle;">{{series.title}}</td>
                <td *ngIf="tva.series.length == 1 && tva.series[0].sequences.length > 1 && j == 0"
                  [attr.rowspan]="tva.series[0].sequences.length" colspan="2" class="table-category"
                  style="vertical-align: middle; text-align: center;">{{tva.category}}</td>
                <td *ngIf="tva.series.length == 1 && tva.series[0].sequences.length == 1" colspan="2"></td>
                <td>
                  <span class="clickable" (click)="clickTva(t, i, j)">{{sequence.title[sequence.title.rv]}}</span>
                </td>
                <td *ngIf="tva.series.length == 1 && tva.series[0].sequences.length == 1; else seasonTemplate"></td>
                <ng-template #seasonTemplate>
                  <td>{{sequence.season}}</td>
                </ng-template>
                <td *ngFor="let studio of sequence.studios" [attr.colspan]="120 / sequence.studios.length">{{studio}}</td>
                <td>{{sequence.episodes}}</td>
                <td>'{{sequence.premiered.year.toString().substring(2)}} - {{sequence.premiered.quarter}}</td>
              </tr>
              <tr *ngIf="tva.opened && i == tva.series.length-1 && j == series.sequences.length-1">
                <td colspan="126" style="padding: 0px;">

                  <!-- detail -->
                  <table class="table table-dark table-hover">
                    <tr>
                      <td style="text-align: center; vertical-align: middle;"
                        [attr.rowspan]="(tva.category_movie ? 14 : 13) + tva.series[tva.opened.series].sequences[tva.opened.sequence].studios.length">
                        <img [src]="tva.series[tva.opened.series].sequences[tva.opened.sequence].img">
                      </td>
                      <th>카테고리</th>
                      <td>
                        <span class="clickable" (click)="editCategory(t)">{{tva.category}}</span>
                      </td>
                    </tr>
                    <tr *ngIf="tva.opened.linked">
                      <th>극장판</th>
                      <td>
                        <a [routerLink]="['/movie', tva.opened.linked._id, tva.opened.linked.series, 0]" class="detail-link">
                          {{tva.opened.linked.title}}
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <th>시리즈</th>
                      <td>{{tva.series[tva.opened.series].title}}</td>
                    </tr>
                    <tr>
                      <th>시리즈 메모</th>
                      <td>{{tva.series[tva.opened.series].memo}}</td>
                    </tr>
                    <tr><td></td><td></td></tr>
                    <tr>
                      <th rowspan="3" style="vertical-align: middle;">제목</th>
                      <td *ngIf="tva.series[tva.opened.series].sequences[tva.opened.sequence].title.rv == 'kor'">
                        <b>
                          {{tva.series[tva.opened.series].sequences[tva.opened.sequence].title.kor}}
                        </b>
                      </td>
                      <td *ngIf="tva.series[tva.opened.series].sequences[tva.opened.sequence].title.rv != 'kor'">
                        {{tva.series[tva.opened.series].sequences[tva.opened.sequence].title.kor}}
                      </td>
                    </tr>
                    <tr>
                      <td *ngIf="tva.series[tva.opened.series].sequences[tva.opened.sequence].title.rv == 'eng'">
                        <b>
                          {{tva.series[tva.opened.series].sequences[tva.opened.sequence].title.eng}}
                        </b>
                      </td>
                      <td *ngIf="tva.series[tva.opened.series].sequences[tva.opened.sequence].title.rv != 'eng'">
                        {{tva.series[tva.opened.series].sequences[tva.opened.sequence].title.eng}}
                      </td>
                    </tr>
                    <tr>
                      <td *ngIf="tva.series[tva.opened.series].sequences[tva.opened.sequence].title.rv == 'jpn'">
                        <b>
                          {{tva.series[tva.opened.series].sequences[tva.opened.sequence].title.jpn}}
                        </b>
                      </td>
                      <td *ngIf="tva.series[tva.opened.series].sequences[tva.opened.sequence].title.rv != 'jpn'">
                        {{tva.series[tva.opened.series].sequences[tva.opened.sequence].title.jpn}}
                      </td>
                    </tr>
                    <tr>
                      <th>방영 분기</th>
                      <td>
                        {{tva.series[tva.opened.series].sequences[tva.opened.sequence].premiered.year}}년 {{tva.series[tva.opened.series].sequences[tva.opened.sequence].premiered.quarter}}분기
                      </td>
                    </tr>
                    <tr>
                      <th>방영 시기</th>
                      <td>
                        {{tva.series[tva.opened.series].sequences[tva.opened.sequence].aired.start}} ~ {{tva.series[tva.opened.series].sequences[tva.opened.sequence].aired.end}}
                      </td>
                    </tr>
                    <tr>
                      <th>방영 화수</th>
                      <td>{{tva.series[tva.opened.series].sequences[tva.opened.sequence].episodes}}화</td>
                    </tr>
                    <tr *ngFor="let studio of tva.series[tva.opened.series].sequences[tva.opened.sequence].studios; index as s">
                      <th *ngIf="s == 0" style="vertical-align: middle;"
                        [attr.rowspan]="tva.series[tva.opened.series].sequences[tva.opened.sequence].studios.length">제작사</th>
                      <td>{{studio}}</td>
                    </tr>
                    <tr>
                      <th>메모</th>
                      <td>{{tva.series[tva.opened.series].sequences[tva.opened.sequence].memo}}</td>
                    </tr>
                    <tr>
                      <th>MyAnimeList</th>
                      <td>
                        <a [href]="'https://myanimelist.net/anime/' + tva.series[tva.opened.series].sequences[tva.opened.sequence].mal_id" target="_blank" class="detail-link">
                          {{tva.series[tva.opened.series].sequences[tva.opened.sequence].mal_id}}
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" style="text-align: center;">
                        <button mat-button (click)="modifyTva(t, tva.opened.series, tva.opened.sequence)">
                          <mat-icon>create</mat-icon>
                        </button>
                        <button mat-button (click)="removeTva(t, tva.opened.series, tva.opened.sequence)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </table>

                </td>
              </tr>
              <tr *ngIf="tva.modifying && i == tva.series.length-1 && j == series.sequences.length-1">
                <td colspan="126">
                  
                  <!-- modifying -->
                  <form (submit)="onModifySubmit(t, modifying.series, modifying.sequence)">
                    <table class="table table-secondary" style="width: 70%; margin: auto;">
                      <tr>
                        <th style="width: 30%;">검색</th>
                        <td>
                          <mat-form-field class="form-item-select">
                            <mat-label>검색옵션</mat-label>
                            <mat-select #searchOption>
                              <mat-option value="onnada">Onnada</mat-option>
                              <mat-option value="mal">MyAnimeList</mat-option>
                              <mat-option value="mal_id">MyAnimeList ID</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label>검색어를 입력해주세요.</mat-label>
                            <input matInput #searchBox (keyup.enter)="searchTva(searchOption.value, searchBox.value, t)">
                          </mat-form-field>
                          <button mat-flat-button type="button" (click)="searchTva(searchOption.value, searchBox.value, t)">
                            <mat-icon>search</mat-icon>
                          </button>
                        </td>
                      </tr>
                      <tr><td colspan="2"><mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar></td></tr>
                      <tr>
                        <th>시리즈</th>
                        <td>
                          <mat-form-field class="form-item">
                            <input matInput placeholder="시리즈" [formControl]="seriesControl" [matAutocomplete]="auto" name="seriesTitle">
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of seriesFilteredOptions | async" [value]="option">{{option}}</mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th>제목</th>
                        <td>
                          <mat-radio-group [(ngModel)]="tva.modifying.title.rv" name="rv">
                            <table class="table table-borderless inner-table">
                              <tr>
                                <th><mat-radio-button value="kor">KOR</mat-radio-button></th>
                                <td>
                                  <mat-form-field class="form-item">
                                    <input matInput placeholder="한국어 제목" [(ngModel)]="tva.modifying.title.kor" name="kor">
                                  </mat-form-field>
                                </td>
                              </tr>
                              <tr>
                                <th><mat-radio-button value="eng">ENG</mat-radio-button></th>
                                <td>
                                  <mat-form-field class="form-item">
                                    <input matInput placeholder="알파벳 제목" [(ngModel)]="tva.modifying.title.eng" name="eng">
                                  </mat-form-field>
                                </td>
                              </tr>
                              <tr>
                                <th><mat-radio-button value="jpn">JPN</mat-radio-button></th>
                                <td>
                                  <mat-form-field class="form-item">
                                    <input matInput placeholder="일어 제목" [(ngModel)]="tva.modifying.title.jpn" name="jpn">
                                  </mat-form-field>
                                </td>
                              </tr>
                            </table>
                          </mat-radio-group>
                        </td>
                      </tr>
                      <tr>
                        <th>시즌</th>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" [(ngModel)]="tva.modifying.season" name="season" min="1">
                            <span matSuffix>기</span>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th rowspan="2">방영 분기</th>
                        <td>
                          <mat-form-field>
                            <input matInput placeholder="연도" type="number" [(ngModel)]="tva.modifying.premiered.year" name="year">
                            <span matSuffix>년</span>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-form-field>
                            <input matInput placeholder="분기" type="number" [(ngModel)]="tva.modifying.premiered.quarter" name="quarter" max="4" min="1">
                            <span matSuffix>분기</span>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th rowspan="2">방영 시기</th>
                        <td>
                          <mat-form-field>
                            <input matInput placeholder="방영 시작일" [(ngModel)]="tva.modifying.aired.start" name="aired_start">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-form-field>
                            <input matInput placeholder="방영 종료일" [(ngModel)]="tva.modifying.aired.end" name="aired_end">
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th>방영 화수</th>
                        <td>
                          <mat-form-field>
                            <input matInput type="number" [(ngModel)]="tva.modifying.episodes" name="episodes" min="1">
                            <span matSuffix>화</span>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th>제작사</th>
                        <td>
                          <mat-form-field class="form-item">
                            <textarea matInput placeholder="제작사" [(ngModel)]="modifying.studios" name="studios" rows="4"></textarea>
                            <mat-hint>여러 개의 경우, 줄을 나눠서 입력해주세요.</mat-hint>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <th>메모</th>
                        <td>
                          <mat-form-field class="form-item">
                            <textarea matInput placeholder="메모" [(ngModel)]="tva.modifying.memo" name="memo" rows="4"></textarea>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" style="text-align: center;">
                          <button mat-button type="submit">
                            <mat-icon>check_circle_outline</mat-icon>
                          </button>
                          <button mat-button type="button" (click)="cancelModify(t)">
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </td>
                      </tr>
                    </table>
                  </form>

                </td>
              </tr>
            </ng-container>
          </ng-container>

        </ng-container>
      </tbody>
    </table>
  </div>

</section>

<section>
  <div class="container" id="writing-area" #writingArea>
    <table *ngIf="!writing" class="table table-dark">
      <tr>
        <td>
          <span class="clickable" (click)="writeTva()">+ 새로 작성하기</span>
        </td>
      </tr>
    </table>
    <form (submit)="onWriteSubmit()" *ngIf="writing">
      <table class="table table-secondary" style="width: 70%; margin: auto;">
        <tr>
          <th style="width: 30%;">검색</th>
          <td>
            <mat-form-field class="form-item-select">
              <mat-label>검색옵션</mat-label>
              <mat-select #writeSearchOption>
                <mat-option value="onnada">Onnada</mat-option>
                <mat-option value="mal">MyAnimeList</mat-option>
                <mat-option value="mal_id">MyAnimeList ID</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>검색어를 입력해주세요.</mat-label>
              <input matInput #writeSearchBox (keyup.enter)="searchTva(writeSearchOption.value, writeSearchBox.value)">
            </mat-form-field>
            <button mat-flat-button type="button" (click)="searchTva(writeSearchOption.value, writeSearchBox.value)">
              <mat-icon>search</mat-icon>
            </button>
          </td>
        </tr>
        <tr><td colspan="2"><mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar></td></tr>
        <tr>
          <th>카테고리</th>
          <td>
            <mat-form-field class="form-item">
              <input matInput placeholder="카테고리" [formControl]="categoryControl" [matAutocomplete]="autoWriteCategory" name="categoryTitle">
              <mat-autocomplete #autoWriteCategory="matAutocomplete" (optionSelected)="categoryInput($event)">
                <mat-option *ngFor="let option of categoryFilteredOptions | async" [value]="option">{{option}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>시리즈</th>
          <td>
            <mat-form-field [formGroup]="writeFormGroup" class="form-item">
              <input matInput placeholder="시리즈" [matAutocomplete]="autoWriteSeries" formControlName="writeSeriesControl">
              <mat-autocomplete #autoWriteSeries="matAutocomplete" (optionSelected)="seriesInput($event)">
                <mat-option *ngFor="let option of seriesFilteredOptions | async" [value]="option">{{option}}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>시리즈 메모</th>
          <td>
            <mat-form-field class="form-item">
              <textarea matInput placeholder="시리즈 메모" [(ngModel)]="seriesMemo" name="seriesMemo" rows="4"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>제목</th>
          <td>
            <mat-radio-group [(ngModel)]="writingTva.title.rv" name="rv">
              <table class="table table-borderless">
                <tr>
                  <th><mat-radio-button value="kor">KOR</mat-radio-button></th>
                  <td>
                    <mat-form-field class="form-item">
                      <input matInput placeholder="한국어 제목" [(ngModel)]="writingTva.title.kor" name="kor">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <th><mat-radio-button value="eng">ENG</mat-radio-button></th>
                  <td>
                    <mat-form-field class="form-item">
                      <input matInput placeholder="알파벳 제목" [(ngModel)]="writingTva.title.eng" name="eng">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <th><mat-radio-button value="jpn">JPN</mat-radio-button></th>
                  <td>
                    <mat-form-field class="form-item">
                      <input matInput placeholder="일어 제목" [(ngModel)]="writingTva.title.jpn" name="jpn">
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </mat-radio-group>
          </td>
        </tr>
        <tr>
          <th>시즌</th>
          <td>
            <mat-form-field>
              <input matInput type="number" [(ngModel)]="writingTva.season" name="season" min="1">
              <span matSuffix>기</span>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th rowspan="2">방영 분기</th>
          <td>
            <mat-form-field>
              <input matInput placeholder="연도" type="number" [(ngModel)]="writingTva.premiered.year" name="year">
              <span matSuffix>년</span>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="분기" type="number" [(ngModel)]="writingTva.premiered.quarter" name="quarter" max="4" min="1">
              <span matSuffix>분기</span>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th rowspan="2">방영 시기</th>
          <td>
            <mat-form-field>
              <input matInput placeholder="방영 시작일" [(ngModel)]="writingTva.aired.start" name="aired_start">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="방영 종료일" [(ngModel)]="writingTva.aired.end" name="aired_end">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>방영 화수</th>
          <td>
            <mat-form-field>
              <input matInput type="number" [(ngModel)]="writingTva.episodes" name="episodes" min="1">
              <span matSuffix>화</span>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>제작사</th>
          <td>
            <mat-form-field class="form-item">
              <textarea matInput placeholder="제작사" [(ngModel)]="modifying.studios" name="studios" rows="4"></textarea>
              <mat-hint>여러 개의 경우, 줄을 나눠서 입력해주세요.</mat-hint>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th>메모</th>
          <td>
            <mat-form-field class="form-item">
              <textarea matInput placeholder="메모" [(ngModel)]="writingTva.memo" name="memo" rows="4"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <button mat-button type="submit">
              <mat-icon>check_circle_outline</mat-icon>
            </button>
            <button mat-button type="button" (click)="cancelWrite()">
              <mat-icon>cancel</mat-icon>
            </button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</section>
