<section>
  <mat-progress-bar *ngIf="!movies" mode="indeterminate"></mat-progress-bar>
  <table class="table table-dark" *ngIf="movies">
    <thead>
      <tr>
        <th>카테고리</th>
        <th>시리즈</th>
        <th>제목</th>
        <th>순서</th>
        <th colspan="120">제작사</th>
        <th>개봉일</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let movie of movies; index as m">

        <ng-container *ngFor="let series of movie.series; index as i">
          <ng-container *ngFor="let sequence of series.sequences; index as j">
            <tr [attr.id]="'movie' + m">
              <td *ngIf="movie.series.length > 1 && i == 0 && j == 0" [attr.rowspan]="movie.series.length" class="table-category">{{movie.category}}</td>
              <td *ngIf="movie.series.length > 1 && j == 0" class="table-series">{{series.title}}</td>
              <td *ngIf="movie.series.length == 1 && movie.series[0].sequences.length > 1 && j == 0"
                [attr.rowspan]="movie.series[0].sequences.length" colspan="2" class="table-category"
                style="vertical-align: middle; text-align: center;">{{movie.category}}</td>
              <td *ngIf="movie.series.length == 1 && movie.series[0].sequences.length == 1" colspan="2"></td>
              <td>
                <span class="clickable" (click)="clickMovie(m, i, j)">{{getRvTitle(sequence.title)}}</span>
              </td>
              <td *ngIf="movie.series.length == 1 && movie.series[0].sequences.length == 1; else orderTemplate"></td>
              <ng-template #orderTemplate>
                <td>{{sequence.order}}</td>
              </ng-template>
              <td *ngFor="let studio of sequence.studios" [attr.colspan]="120 / sequence.studios.length">{{studio}}</td>
              <td>{{sequence.aired}}</td>
            </tr>
            <tr *ngIf="movie.opened && i == movie.series.length-1 && j == series.sequences.length-1">
              <td colspan="125" style="padding: 0px;">

                <!-- detail -->
                <table class="table table-dark table-hover">
                  <tr>
                    <td style="text-align: center; vertical-align: middle;"
                      [attr.rowspan]="10 + movie.series[movie.opened.series].sequences[movie.opened.sequence].studios.length">
                      <img [src]="movie.series[movie.opened.series].sequences[movie.opened.sequence].img">
                    </td>
                    <th>카테고리</th>
                    <td>{{movie.category}}</td>
                  </tr>
                  <tr>
                    <th>TVA</th>
                    <td>
                      <mat-progress-bar *ngIf="!movie.opened.linked" mode="indeterminate"></mat-progress-bar>
                      <a *ngIf="movie.opened.linked"
                        [routerLink]="['/tva', movie.opened.linked._id, movie.opened.linked.series, 0]">
                        {{movie.opened.linked.title}}
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th>시리즈 메모</th>
                    <td>{{movie.series[movie.opened.series].memo}}</td>
                  </tr>
                  <tr><td></td><td></td></tr>
                  <tr>
                    <th rowspan="3" style="vertical-align: middle;">제목</th>
                    <td *ngIf="movie.series[movie.opened.series].sequences[movie.opened.sequence].title.rv == 'kor'">
                      <b>
                        {{movie.series[movie.opened.series].sequences[movie.opened.sequence].title.kor}}
                      </b>
                    </td>
                    <td *ngIf="movie.series[movie.opened.series].sequences[movie.opened.sequence].title.rv != 'kor'">
                      {{movie.series[movie.opened.series].sequences[movie.opened.sequence].title.kor}}
                    </td>
                  </tr>
                  <tr>
                    <td *ngIf="movie.series[movie.opened.series].sequences[movie.opened.sequence].title.rv == 'eng'">
                      <b>
                        {{movie.series[movie.opened.series].sequences[movie.opened.sequence].title.eng}}
                      </b>
                    </td>
                    <td *ngIf="movie.series[movie.opened.series].sequences[movie.opened.sequence].title.rv != 'eng'">
                      {{movie.series[movie.opened.series].sequences[movie.opened.sequence].title.eng}}
                    </td>
                  </tr>
                  <tr>
                    <td *ngIf="movie.series[movie.opened.series].sequences[movie.opened.sequence].title.rv == 'jpn'">
                      <b>
                        {{movie.series[movie.opened.series].sequences[movie.opened.sequence].title.jpn}}
                      </b>
                    </td>
                    <td *ngIf="movie.series[movie.opened.series].sequences[movie.opened.sequence].title.rv != 'jpn'">
                      {{movie.series[movie.opened.series].sequences[movie.opened.sequence].title.jpn}}
                    </td>
                  </tr>
                  <tr>
                    <th>개봉일</th>
                    <td>
                      {{movie.series[movie.opened.series].sequences[movie.opened.sequence].aired}}
                    </td>
                  </tr>
                  <tr *ngFor="let studio of movie.series[movie.opened.series].sequences[movie.opened.sequence].studios; index as s">
                    <th *ngIf="s == 0" style="vertical-align: middle;"
                      [attr.rowspan]="movie.series[movie.opened.series].sequences[movie.opened.sequence].studios.length">제작사</th>
                    <td>{{studio}}</td>
                  </tr>
                  <tr>
                    <th>메모</th>
                    <td>{{movie.series[movie.opened.series].sequences[movie.opened.sequence].memo}}</td>
                  </tr>
                  <tr>
                    <th>MyAnimeList</th>
                    <td>
                      <a [href]="'https://myanimelist.net/anime/' + movie.series[movie.opened.series].sequences[movie.opened.sequence].mal_id" target="_blank">
                        {{movie.series[movie.opened.series].sequences[movie.opened.sequence].mal_id}}
                      </a>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </ng-container>
        </ng-container>

      </ng-container>
    </tbody>
  </table>
</section>
