<nav class="navbar navbar-expand-lg navbar-light bg-light rounded navbar-fixed-top mdl-shadow--2dp">
    <a class="navbar-brand" routerLink="/">AnimeLog W</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul></ul>
        <nav mat-tab-nav-bar>
            <a mat-tab-link
                class="mat-tabs"
                *ngFor="let link of navLinks"
                [routerLink]="link.path"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}
            </a>
        </nav>
    </div>
</nav>
<ng-flash-message></ng-flash-message>

<div id="main-part" class="bg-dark">
    <br><br><br><br>
    <main role="main">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>
    <br><br><br>
</div>

<footer class="text-muted py-5 bg-secondary">
    <div class="container">
        <p><b>Powered by PJH</b></p>
        <p><a target="_blank" href="https://getbootstrap.com/">Bootstrap</a></p>
        <p><a target="_blank" href="https://material.angular.io/">Material</a></p>
    </div>
</footer>
