<table id="scroll-button">
    <tr>
        <td class="clickable" (click)="scrollUp()"><mat-icon>keyboard_arrow_up</mat-icon></td>
    </tr>
    <tr>
        <td class="clickable" (click)="scrollDown()"><mat-icon>keyboard_arrow_down</mat-icon></td>
    </tr>
</table>

<nav class="navbar navbar-expand-lg navbar-light bg-light rounded navbar-fixed-top mdl-shadow--2dp">
    <a class="navbar-brand" routerLink="/">AnimeLog W</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul></ul>
        <nav mat-tab-nav-bar>
            <a mat-tab-link
                class="mat-tabs"
                *ngFor="let link of navLinks"
                [routerLink]="link.path"
                routerLinkActive #rla="routerLinkActive"
                [active]="rla.isActive">
                {{link.label}}
            </a>
        </nav>
    </div>
</nav>
<ng-flash-message></ng-flash-message>

<div id="main-part" class="bg-dark">
    <div *ngIf="router.url != '/'">
        <br><br><br><br>
    </div>
    <main role="main">
        <router-outlet></router-outlet>
    </main>
    <br><br><br>
</div>

<footer class="text-muted py-5 bg-secondary" id="footer">
    <div class="container">
        <p><b>Powered by ParkJH</b></p><br>
        <div class="row">
            <div class="col-sm">
                <p><b>MEAN Stack</b></p>
                <p><a target="_blank" href="https://www.mongodb.com">MongoDB</a></p>
                <p><a target="_blank" href="https://expressjs.com/ko/">Express</a></p>
                <p><a target="_blank" href="https://angular.kr/">Angular</a></p>
                <p><a target="_blank" href="https://nodejs.org/ko/">Node.js</a></p>
                <p><a target="_blank" href="https://github.com/theta14/AnimeLog_w.git">Github</a></p>
            </div>
            <div class="col-sm">
                <p><b>CSS</b></p>
                <p><a target="_blank" href="https://getbootstrap.com/">Bootstrap</a></p>
                <p><a target="_blank" href="https://material.angular.io/">Angular Material</a></p>
                <p><a target="_blank" href="https://getmdl.io/">Material Design Lite</a></p>
                <p><a target="_blank" href="https://material.io/resources/icons/?style=baseline">Material Icons</a></p>
                <p><a target="_blank" href="https://www.svgbackgrounds.com/">SVG Backgrounds</a></p>
            </div>
            <div class="col-sm">
                <p><b>Resources</b></p>
                <p><a target="_blank" href="https://myanimelist.net/">MyAnimeList</a></p>
                <p><a target="_blank" href="http://onnada.com/">Onnada</a></p>
                <p><a target="_blank" href="https://nyaa.si/">Nyaa</a></p>
                <p><a target="_blank" href="http://raws.ohys.net/t/">Ohys</a></p>
                <p><a target="_blank" href="https://ohli.moe/">OHLI</a></p>
            </div>
        </div>
    </div>
</footer>
